body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 50;
  text-align: center;
  text-decoration: solid;

  
}

html{
  background-image:  url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;

}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  border:none;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #0074d9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  color: black;
}

.temperature {
  font-size: 64px;
  color: #0074d9;
  margin-right: 20px;
}

.conditions {
  display: flex;
  flex-direction: column;
}

.condition {
  font-size: 24px;
  color: #0074d9;
  margin-bottom: 10px;
}

.wind,
.humidity {
  font-size: 16px;
  color: #0074d9;
  margin-bottom: 10px;
}
