
      .parameters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .parameters p {
        margin-right: 20px;
      }

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 50;
  text-align: center;
  text-decoration: solid;

  
}

html{
  background-image:  url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  border:none;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #0074d9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  color: black;
}
p{
  font-size: medium;
  font-weight: bold;
}
.weather-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-info-item {
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 10px;
}

.weather-info-item p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}
