body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 50;
  text-align: center;
  text-decoration: solid;
}

html {
  background-image: url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  text-align: center;
}

button[type="submit"] {
  background-color: #0074d9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  background-color:rgb(red, green, blue,0.2)
  
}

.card .icon {
  margin: 1rem 0;
  margin-bottom: 0px;
}

.card .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.card p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-weight: bold;
}


.card p1 {
  margin-bottom: 0px;
  text-transform: capitalize;
  font-weight: bold;
}
